
#///////////////////////////
# cocosCreator
#///////////////////////////
vue-admin-design/node_modules/
#//////////////////////////
# NPM
#//////////////////////////

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/